/* XYZ INDUSTRIES */

.logo{
/* position: absolute; */
width: 314px;
height: 48px;
left: 64px;
top: 50px;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;
/* identical to box height */
letter-spacing: 0.01em;

/* Foundation/Dark Blue */
color: #071A45;
}

.buttons{
    /* Frame 1261154625 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 235px;
height: 58px;
left: 1141px;
top: 44px;


}

.button1{
    /* Secondary Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 16px 16px 24px;
gap: 16px;

width: 110px;
height: 58px;

/* Foundation/Dark Blue

Main Color
*/
border: 1px solid #071A45;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.button2{
    /* Primary Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 16px 16px 24px;
gap: 16px;

width: 101px;
height: 58px;

/* Foundation/Light Blue

Text and Backgrounds
*/
background: #3A7DFF;
border-radius: 40px;
color: white;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
