/* Frame 1261154592 */

.con1 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 598px;
  height: 128px;
  left: calc(50% - 598px / 2);
  top: 1627px;
}

.con1T {
  /* HOW IT WORKS? */

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
 
  text-align: center;
  letter-spacing: 0.01em;

  color: #071a45;
}

.con1T2 {
  /* Step by Step Guide */

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  color: #071a45;
}

.para{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;

color: rgba(7, 26, 69, 0.7);

}

.learn{
    /* Learn More */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.img {
  width: 320px;
  height: 320px;
  border-radius: 40px;
}

.ct1{
    /* Discover Your Perfect Home */

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;

  color: #071a45;
}
